$background-color : #BC865C;
$font-color: #FFFCF7;

* { 
  box-sizing: border-box; 
  margin: 0; 
  padding: 0;
} 

body{
  height: 100vh;
  width: 100vw;
  background: $background-color;
  padding: 8vh;
  display: flex;
  flex-direction: column;
  
  .mainbox{
    width: 100%;
    min-height: 100%;
    align-self: stretch;
    border: 1px solid $font-color;
    border-radius: 0 0 20px 20px;
    color: $font-color;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    align-items: stretch;

    .hamburger { 
      background: $font-color; 
      border: 1px solid $font-color;
      border-radius: 50%; 
      height: 70px; 
      width: 70px; 
      position: absolute; 
      top: 0px; 
      right: 0px; 
      display: flex; 
      justify-content: center; 
      align-items: center; 
      flex-direction: column; 
      gap: 6px; 
      transform: translate(25%, -50%);
      div { 
        width: 35px; 
        height: 5px; 
        background: $background-color; 
      }  
    }
    
    .wrapper{
      flex: 1;
      display: flex;
      font-size: 1rem;
      .left{
        width: 50%;
        height: 100%;
        padding: 30px;
        padding-bottom: 10px;
        display: flex;
        flex-direction: column;
        div{
          margin: 15px 0px;
        }
      }

      .right{
        width: 50%;
        height: 100%;
        padding: 30px;
        padding-top: 10px;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: flex-end;
        div{
          margin: 15px 0px;
        }
      }
    }

    .morella{      
      text-align: center;
      padding: 20px;
      font-size: 1.5rem;
      letter-spacing: 2px;
      color: $background-color;
      background-color: $font-color;
      border-radius: 0 0 20px 20px;
      @media screen and (max-width: 260px) {
        font-size: 5vw;
      }
    }
    
    @media screen and (max-width: 650px) { 
      .hamburger {  
        transform: translate(25%, -50%) scale(0.75);
        @media screen and (max-width: 470px) {
          transform: translate(40%, -50%) scale(0.5);
        }
      }
      .wrapper{
        width: 100%;
        flex-direction: column;
        text-align: center;
        .left{
          width: 100%;
          height: 50%;
          justify-content: flex-end;
          align-items: center;
        }
        .right{
          width: 100%;
          height: 50%;
          align-items: center;
          justify-content: flex-start;
        }
        @media screen and (max-width: 260px) {
          font-size: 5vw;
        }
      }
      
    }
    
  }
  

}
